body {
  background-color: rgba(250, 250, 250, 0.933333);
  cursor: default;
  margin: 0;
}

.icon {
  vertical-align: middle;
  cursor: pointer;
}

.icon-pause {
  display: none;
}

.icon-volume {
  cursor: default;
}

.visualizer {
  width: 100%;
  height: 255px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.frequency-bar {
  display: inline-block;
  background: rgba(47, 152, 66, 0.1);
  transition: height 0.1s;
  position: absolute;
  bottom: 0;
}

.doubanfm-playlist {
  width: 240px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -495px;
  overflow: auto;
  font-size: 13px;
  color: #7c7b82;
}

.doubanfm-playlist::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.doubanfm-playlist:hover::-webkit-scrollbar-thumb {
  background: hsla(0,0%,77%,.3);
  border-radius: 11px;
}

.doubanfm-playlist-item {
  margin-bottom: 12px;
  cursor: pointer;
}

.doubanfm-playlist-item:last-child {
  margin-bottom: 0;
}

.doubanfm-playlist-item:hover {
  color: #4a4a4a;
}

.doubanfm-playlist-item.active {
  color: #000;
}

.doubanfm-cover {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: 255px;
  border-radius: 50%;
  overflow: hidden;
}

.doubanfm-cover img {
  width: 100%;
  display: block;
}

.doubanfm-cover span {
  visibility: hidden;
  width: 90px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -45px;
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,.6);
  border-radius: 1px;
}

.doubanfm-cover:hover span {
  visibility: visible;
}

.doubanfm-player {
  width: 430px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -215px;
}

.doubanfm-title {
  font-size: 25px;
  color: rgb(3, 3, 3);
}

.doubanfm-artist {
  font-size: 15px;
  color: rgb(74, 74, 74);
  line-height: 2;
}

.doubanfm-operations {
  margin-top: 5px;
}

.doubanfm-time {
  font-size: 11px;
  color: rgb(155, 155, 155);
  margin-right: 15px;
}

.doubanfm-progress {
  padding: 5px 0;
  cursor: pointer;
}

.doubanfm-progress-slider {
  height: 1px;
  background-color: #dadada;
}

.doubanfm-progress-value {
  height: 100%;
  background-color: rgb(107, 189, 122);
}

.doubanfm-buttons {
  float: right;
}

.doubanfm-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.doubanfm-controls .icon {
  margin: 0 15px;
}

.doubanfm-controls .icon:first-child {
  margin-left: 0;
}

.doubanfm-controls .icon:last-child {
  margin-right: 0;
}

.doubanfm-controls .right {
  float: right;
}

.doubanfm-volume:hover .doubanfm-volume-slider {
  display: inline-block;
}

.doubanfm-volume-slider {
  display: none;
  vertical-align: middle;
  width: 50px;
  height: 2px;
  background-color: rgb(229, 229, 232);
  cursor: pointer;
}

.doubanfm-volume-value {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(151, 151, 151);
}
